body {
    font: 400 1em Roboto, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #555;
}

.container {
    padding: 20px;
}

.fullHeight{
    min-height: 100%;
}

.margin20 {
  margin: 0 20px;
}

h1,
h2,
h3 {
    margin: 7px 0;
}

h4,
h5,
h6 {
  margin: 2px 0;
}

.colorWarn {
  color: red;
}

a {
    text-decoration: none;
    color: #00bcd4;
    cursor: pointer;
}

a:visited {
  color: #00bcdf;
}

.paddingTop {
  padding: 10px 0;
}

.padding10 {
  padding: 10px;
}

.buttonContainer {
  height: 60px;
  display: block;
  overflow: hidden;
}

.largeText {
  font-size: 2em;
}

.largerText {
  font-size: 3.5em;
}

.underline {
    text-decoration: underline;
}

.center {
  text-align: center;
}

.inlineBlock {
  display: inline-block;
  vertical-align: top;
}

.inlineContainer {
  vertical-align: middle;
  display: inline-block;
  height: 80px;
  padding:10px;
}

.maxWidth70 {
    max-width: 70%;
}

.marginTop20 {
  padding: 40px 0 0 0;
}

.margin5 {
  margin: 5px;
  display: inline-block;
}

.userImage {
  border-radius: 3px;
  height: 56px;
  width: 56px;
}

.pointer {
  cursor: pointer;
}

footer {
  margin: 200px 0 0 0;
  text-align: center;
  padding:20px;
}
